OBSERVE_APP_KEY=ba0qb5hSPn7a^ZPN
OBSERVE_APP_SECRET='T$cH$hi&m0y9^H7dwO7s7fCaHpOLuBbCDnaMete&5K6ED'
OBSERVE_APP_NAME=ExampleNest

APP_PORT = 3000

POSTGRES_HOST=db

NODE_ENV = development

DB_CONTAINER_NAME=riwi-cine-db
POSTGRES_USER=nodejs
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres
POSTGRES_PORT=5432

DB_CPU_LIMIT = 2
DB_MEM_LIMIT = 512MB

APP_CPU_LIMIT = 2
APP_MEM_LIMIT = 512MB